/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: white;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .cart img {
    height: 40px;
  }
  
  /* Banner styles */
  .banner {
    position: relative;
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Products styles */
  .products {
    padding: 20px;
  }
  
  .products h2 {
    margin-bottom: 10px;
  }
  
  .product-card {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  